# Week 2: Functions, Lists, Tuples, Dictionaries, Sets

### 1. Write a function to check if a number is even.

In [1]:
def odd_even_checker(x):
    if x % 2 == 0 :
        print(f"{x} is an even number")
    else :
        print(f"{x} is a odd number")
odd_even_checker(10)
odd_even_checker(3)

10 is an even number
3 is a odd number

### 2. Create a list and find the sum of all its elements.

In [4]:
a = [1,2,3,4,5,7,8,9,90]
total = 0
for digits in a:
    total = total + int(digits)
print(f"{total} is the sum of all the elements of the list {a}")

129 is the sum of all the elements of the list [1, 2, 3, 4, 5, 7, 8, 9, 90]

### 3. Write a program to find the maximum and minimum in a list.

In [11]:
a = [1,2,3,45,33,67,89,100]
x = int(a[0])

# for finding the maximum number in the list

for digits in a :
    if int(digits) > x :
        x = int(digits)
print(f"{x} is the maximum number in the list")

# for finding the minimum number in the list

y = a[0]
for digits in a :
    if int(digits) < y :
        y = int(digit)
print(f"{y} is the minimum number in the list")

100 is the maximum number in the list
1 is the minimum number in the list

### 4. Create a program that removes duplicates from a list.

In [17]:
a = [1,2,3,4,5,6,2,4,6,1,9,0,2,5,7,2,3,5]
b = []
for items in a :
    if items not in b:
        b.append(items)
print(b)

[1, 2, 3, 4, 5, 6, 9, 0, 7]

In [18]:
a = [1,2,3,4,5,6,2,4,6,1,9,0,2,5,7,2,3,5]

for i in range(len(a)):
    j = len(a)-1
    while j > i:
        if a[i] == a[j]:
            a.pop(j) 
        j -= 1
print(a)

[1, 2, 3, 4, 5, 6, 9, 0, 7]

### 5. Write a function to reverse a list.

In [20]:
def rev_list(x):
    print(x[::-1])
rev_list([1,2,3,4,5,6,7,8,9])

[9, 8, 7, 6, 5, 4, 3, 2, 1]

### 6. Create a tuple and access its elements.

In [33]:
a = ("ram","hari","sita",1,2,3,4,9.0)
print(type(a))
for i in range (len(a)):
    print(f"{a[i]} is the item with index {i} in the list")

<class 'tuple'>
ram is the item with index 0 in the list
hari is the item with index 1 in the list
sita is the item with index 2 in the list
1 is the item with index 3 in the list
2 is the item with index 4 in the list
3 is the item with index 5 in the list
4 is the item with index 6 in the list
9.0 is the item with index 7 in the list

### 7. Convert a list into a tuple and vice versa.

In [38]:
a = [1,2,3,4,5]
a = tuple(a)
print(type(a))
print("a is now converted to tuple",a)
b = (12,3,4,5,6)
b = list(b)
print(type(b))
print("b is now converted to list",b)

<class 'tuple'>
a is now converted to tuple (1, 2, 3, 4, 5)
<class 'list'>
b is now converted to list [12, 3, 4, 5, 6]

### 8. Write a program to merge two dictionaries.

In [41]:
dict_1 = {"ram":10,"hari":20,"sita":13}
dict_2 = {"reeta":12,"sandhya":26,"sanggeta":34}
print({**dict_1, **dict_2})

{'ram': 10, 'hari': 20, 'sita': 13, 'reeta': 12, 'sandhya': 26, 'sanggeta': 34}

### 9. Write a function to count the frequency of elements in a list.

In [42]:
def count_frequency(lst):
    freq = {}
    for item in lst:
        if item in freq:
            freq[item] += 1
        else:
            freq[item] = 1
    return freq

my_list = [1,2,3,4,5,6,7,1,2,4,7,3,4]
print(count_frequency(my_list))

{1: 2, 2: 2, 3: 2, 4: 3, 5: 1, 6: 1, 7: 2}

### 10. Create a dictionary of squares of numbers from 1 to 10.

In [48]:
square = {}
for i in range(1,11):
    square[i] = i**2
print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### 11. Write a program to sort a list in ascending order.

In [64]:
a = [1,4,3,2,9,8,7,6,55,11,45,33]
sorted_list = sorted(a)
print(a)
print(sorted_list)

[1, 4, 3, 2, 9, 8, 7, 6, 55, 11, 45, 33]
[1, 2, 3, 4, 6, 7, 8, 9, 11, 33, 45, 55]

In [66]:
a = [1,4,3,2,9,8,7,6,55,11,45,33]

# Bubble sort
for i in range(len(a)):
    for j in range(0, len(a)-i-1):
        if a[j] > a[j+1]:
            a[j],a[j+1] = a[j+1],a[j]

print(a)

[1, 2, 3, 4, 6, 7, 8, 9, 11, 33, 45, 55]

In [67]:
a = [1, 4, 3, 2, 9, 8, 7, 6, 55, 11, 45, 33]

# Selection sort
for i in range(len(a)):
    min_index = i
    for j in range(i + 1, len(a)):
        if a[j] < a[min_index]:
            min_index = j
    # Swap the found minimum element with the first element
    a[i], a[min_index] = a[min_index], a[i]

print(a)

[1, 2, 3, 4, 6, 7, 8, 9, 11, 33, 45, 55]

### 12. Create a program to check if a key exists in a dictionary.

In [86]:
d = {"ram":11,"hari":12,"sita":13}

key_to_check = "ram"

# Check if key exists
if key_to_check in d:
    print(f"The key '{key_to_check}' exists in the dictionary.")
else:
    print(f"The key '{key_to_check}' does not exist in the dictionary.")

The key 'ram' exists in the dictionary.

### 13. Create a set and perform union, intersection, and difference.

In [90]:
s1 = {1,2,3,4,56,7}
s2 = {2,4,6,8,10,12}
print(s1 or s2) # union
print(s1 and s2) # intersection
print(s1 - s2) # difference
print(s1.difference(s2)) # difference

{1, 2, 3, 4, 7, 56}
{2, 4, 6, 8, 10, 12}
{56, 1, 3, 7}
{56, 1, 3, 7}

### 14. Write a function to find common elements in two lists.

In [93]:
l1 = [1,2,3,4,5,7,8]
l2 = [2,5,6,78,3,2]
for item in l1:
    if item in l2:
        print(f"{item} is a comman element in two lists")

2 is a comman element in two lists
3 is a comman element in two lists
5 is a comman element in two lists

### 15. Write a function that returns the factorial of a number.

In [98]:
def factorial(n):
    fact = 1
    x = n
    for i in range(1,n+1):
        fact = fact * i
    print(f"The factorial of {x} is {fact}")
factorial(5)

The factorial of 5 is 120

### 16. Create a function that checks whether a string is a palindrome.

In [101]:
def palindrome(string):
    x = string
    y = x[::-1]
    if x == y :
        print("palindrome")
    else :
        print("not palindrome")
palindrome("dad")
palindrome("mama")

palindrome
not palindrome

### 17. Write a function to count vowels in a string.

In [107]:
def vowel_counter(string):
    vowel = "aeiou"
    vowel_counter = 0
    x = string.lower().replace(" ","")
    for characters in x:
        if characters in vowel:
            vowel_counter += 1
    print(f"There are {vowel_counter} vowel in the string")


vowel_counter(" HEY there what is going on")

There are 8 vowel in the string

### 18. Create a dictionary and iterate over its keys and values.

In [120]:
my_dict = {"a": 1, "b": 2, "c": 3}

for i in my_dict:
    print("the keys in the dictionary are :",i)

print("\n")

for i in my_dict:
    print("the values in the dictionary are :",str(my_dict[i]))

the keys in the dictionary are : a
the keys in the dictionary are : b
the keys in the dictionary are : c


the values in the dictionary are : 1
the values in the dictionary are : 2
the values in the dictionary are : 3

### 19. Write a function to remove all punctuation from a string.

In [125]:
def punc_remover(text):
    punc = """!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~"""
    result = ""
    for character in text:
        if character not in punc:
            result += character
    print(result)

punc_remover("hello world, what's up!!! how you'll doing.")

hello world whats up how youll doing

### 20. Write a function to capitalize the first letter of each word in a string.

In [132]:
def capitalizer(string):
    x = string
    x = x.title()
    print(x)
capitalizer("hello there hope you are doing well")

Hello There Hope You Are Doing Well

### 21. Create a list comprehension to get squares of all even numbers in a range.

In [146]:
squares = [f"the square of {x} is: {x**2}" for x in range(1, 10)]

for item in squares:
    print(item)

the square of 1 is: 1
the square of 2 is: 4
the square of 3 is: 9
the square of 4 is: 16
the square of 5 is: 25
the square of 6 is: 36
the square of 7 is: 49
the square of 8 is: 64
the square of 9 is: 81

### 22. Write a function to check if a string is an anagram.

In [155]:
def anagram_checker(x, y):
    # normalize: lowercase and remove spaces
    a = x.lower().replace(" ", "")
    b = y.lower().replace(" ", "")

    # check if sorted characters are equal
    if sorted(a) == sorted(b):
        print("Anagram")
    else:
        print("Not anagram")

# Test cases
anagram_checker("listen", "silent")       #  Anagram
anagram_checker("evil", "vile")           #  Anagram
anagram_checker("dormitory", "dirty room")#  Anagram
anagram_checker("hero", "zero")           #  Not anagram
anagram_checker("aaa", "abcaaa")          #  Not anagram

Anagram
Anagram
Anagram
Not anagram
Not anagram

### 23. Create a nested dictionary to represent student records.

In [158]:
dict1 = {"name":"swopnim","age":23}
dict2 = {"class":12,"school":"Everest"}
nested_dict =  {"Student_details":dict1,"School_detail":dict2}
print(nested_dict)

{'Student_details': {'name': 'swopnim', 'age': 23}, 'School_detail': {'class': 12, 'school': 'Everest'}}

### 24. Write a function to flatten a nested list.

In [165]:
def flatten(lst):
    result = []
    for item in lst:
        if isinstance(item, list):
            result.extend(flatten(item))  # recursive call
        else:
            result.append(item)
    return result

nested = [1, 2, [3, 4], [5, [6, 7]]]
print(flatten(nested))

[1, 2, 3, 4, 5, 6, 7]

### 25. Write a program to find the second highest number in a list.

In [172]:
a = [1,23,12,45,22,19,90,76,43,22,87]
print("unsorted list",a)
sorted_list = sorted(a)
print("sorted list",sorted_list)
print("The second highest number is : ",sorted_list[-2])

unsorted list [1, 23, 12, 45, 22, 19, 90, 76, 43, 22, 87]
sorted list [1, 12, 19, 22, 22, 23, 43, 45, 76, 87, 90]
The second highest number is :  87

### 26. Create a function to rotate a list left by k positions.

In [178]:
k = 7
a = [1,2,3,4,5]
b = [] 
c = []
if k > len(a):
    k = k % len(a)
for i in range (k):
    b.append(a[i])
print(b)
for i in range(k,len(a)):
    c.append(a[i])
print(c)
d = c + b
print(d)

[1, 2]
[3, 4, 5]
[3, 4, 5, 1, 2]

In [179]:
k = 7
a = [1,2,3,4,5]
if k > len(a):
    k = k % len(a)
    
first_part = a[:k]
second_part = a[k:]
rotated_list = second_part + first_part
print(rotated_list)

[3, 4, 5, 1, 2]

### 27. Write a function to find the missing number from a list of 1 to N.

In [182]:
our_list = [1,2,3,5,7,8,10]
computer_list = []
n = int(input("enter the range"))
for i in range (1,n+1):
    computer_list.append(i)
for nums in computer_list:
    if nums not in our_list:
        print(f"{nums} is a missing number in our list")

enter the range 10

4 is a missing number in our list
6 is a missing number in our list
9 is a missing number in our list

In [183]:
def find_missing(our_list, n):
    for i in range(1, n+1):
        if i not in our_list:
            print(f"{i} is missing")

find_missing([1,2,3,5,7,8,10],10)

4 is missing
6 is missing
9 is missing

### 28. Write a program to remove all None values from a list.

In [189]:
my_list = [1, None, 3, 0, "",[], False]
b = []
for items in my_list:
    if items is not None:
        b.append(items)
print(b)

[1, 3, 0, '', [], False]

In [191]:
my_list = [1, None, 3, 0, "",[], False]
b = [item for item in my_list if item is not None]
print(b)

[1, 3, 0, '', [], False]

### 29. Write a function to merge two dictionaries and handle key collisions by summing values.

In [199]:
def merge_dicts_sum(dict1,dict2):
    merged = dict1.copy()
    for key,value in dict2.items():
        if key in merged:
            merged[key] += value
        else:
            merged[key] = value 
    return merged

dict1 = {"a": 1, "b": 2, "c": 5}
dict2 = {"b": 3, "c": 4, "d": 7, "e":10}

result = merge_dicts_sum(dict1, dict2)
print(result)

{'a': 1, 'b': 5, 'c': 9, 'd': 7, 'e': 10}

### 30. Create a function to find unique elements present in only one of two lists.

In [202]:
list1 = [1,2,3,4,5,6,7]
list2 = [5,6,7,8,9,0]
list1unq = []
list2unq = []
for i in list1:
    if i not in list2:
        list1unq.append(i)
        
for i in list2:
    if i not in list1:
        list2unq.append(i)

reslist = list1unq + list2unq
print(reslist)

[1, 2, 3, 4, 8, 9, 0]

In [205]:
# A ^ B = (A - B) âˆª (B - A)

reslist1 = list(set(list1) ^ set(list2))
print(reslist1)

[0, 1, 2, 3, 4, 8, 9]